{% extends 'base.html' %}   
{% block content %}
    <div class="mgin-eq">
    </div>
    <div class='content_container'>
        <div class="container-fluid">
            <div class="row">
                <div class='col-12'>
                    <div class='ctfirst'>
                        <h1 class='ttextf'>Main paage</h1>
                        <h3 class='ttexts'>The main page title info</h3>
                        <div class='linksgroup'>
                            <a class='buttonlinka' href='#'>Work</a>
                            <a class='buttonlinkb' href='#'>Profile</a>
                            <a class='buttonlinkc' href='#'>Workers</a>
                            <a class='buttonlinkd' href='#'>Map</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
                    
        <div class='ctsecond'>
            <h2 class='ctstextf'>Text And Pictures</h2>
        </div>
        <div class='introduce_images'>
            <div class='ctimage1'></div>
            <div class='ctimage2'></div>
            <div class='ctimage3'></div>
        </div>
        
        <br>
        <p>Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
        <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
        <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
        <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
            
        <div class="ctthird">
            <div class="feedbackblock-1">
                <h1> More information about subject</h1>
                <a href="#"> More information about subject</a>
            </div>
            <div class="feedbackblock-2">
                <p>Do you have any questions?</p>
                <a href="#">Write to us</a>
            </div>
        </div>
    </div>
{% endblock content %}
