{% extends 'base.html' %}   
{% block content %}
    <div class="mgin-eq">
    </div>
    <div class='content_container'>
        <div class="container-fluid">
            <div class="row">
                <div class='col-12'>
                    <div class="s-first">
                        {% load static %}
                        <p class='ps'><img class='img-gradient' src="{% static 'thesitefolder/img/gradient.png' %}"></p>
                        <h1 class='fblockdiscr'>Gradient picture</h1>
                        <p class='fblockfill'>kkkkkkkkkkkkkk</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-12'>
                    <div class='s-second'>
                        <img class='img-1' height="400px" width="640px" src="static/thesitefolder/img/red_background.jpg">
                        <h2 class='sblockdiscr'>Most important about subject</h2>
                    </div>
                </div>
                <div class='col-12'>
                    <div class='s-second'>
                        <img class="img-1" height="400px" width="640px" src="static/thesitefolder/img/red_wall.png">
                        <h2 class="sblockdiscr">Newest</h2>
                    </div>
                </div>
                <div class='col-12'>
                    <div class='s-second'>
                        <img class="img-1" height="400px" width="640px" src="static/thesitefolder/img/red2.png">
                        <h2 class="sblockdiscr">And another one red pic</h2>
                    </div>
                </div>
            </div>        
            
            <div class="row">
                <div class='col'>
                    <div class='s-fifth'>
                        a
                    </div>
                </div>
            </div>
                    
        </div>
    </div>
{% endblock content %}