{% extends 'base.html' %}   
{% block content %}


    <div class='s-first'>
    </div>
    <h1 class='fblockdiscr'>Gradient picture</h1>
    <p class='fblockfill'>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>


    <div class='s-second'>
        <img class='img-1' height="430" width="640" src="static/thesitefolder/img/red_background.jpg">
        <h2 class='sblockdiscr'>Most important about subject</h2>
    </div>
    <div class='s-second'>
        <img class="img-1" height="430" width="640" src="static/thesitefolder/img/red_wall.png">
        <h2 class="sblockdiscr">Newest</h2>
    </div>
    <div class='s-second'>
        <img class="img-1" height="430" width="640" src="static/thesitefolder/img/red2.png">
        <h2 class="sblockdiscr">And another one red pic</h2>
    </div>
    <div class='s-fifth'>
        a
    </div>


{% endblock content %}